<div class="card">
  <div class="card-body">
    <h5 class="card-title">Device</h5>
    <div class="mb-3">
      <button type="button" class="btn btn-sm btn-primary"  onclick="get_device()">Get Device List</button>
    </div>
    
    <div class="mb-3">
      <fieldset disabled>
        <div class="mb-2">
          <label for="device-select" class="form-label">Devices</label>
          <select id="device-select" class="form-select"></select>
        </div>
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="connect_device()">connect</button>
        
        <div class="mb-2">
          <b>Connection</b>: <span id="is_connected" class="badge text-bg-danger">Disconnected</span><br>
          <b>Name</b>: <span id="device_name">-</span><br>
          <b>Com port</b>: <span id="com_port">-</span><br>
          <b>Device ID</b>: <span id="device_id">-</span><br>
          <div>
            <label for="laser_power" class="form-label"><b>Laser Power</b>:</label>
            <output for="laser_power" id="laser_power_output" aria-hidden="true"></output>
            <input id="laser_power" type="range" class="form-range" min="0" max="150" step="10" value="0">
          </div>
          <div>
            <label for="exposure" class="form-label"><b>Exposure</b>:</label>
            <output for="exposure" id="exposure_output" aria-hidden="true"></output> ms
            <input id="exposure" type="range" class="form-range" min="0" max="10000" step="500" value="0">
          </div>
          <div>
            <label for="accumulation" class="form-label"><b>Accumulation</b>:</label>
            <input id="accumulation" type="number" class="form-control">
          </div>
        </div>
      </fieldset>
      <button id="btn-read-ccd" type="button" class="btn btn-sm btn-outline-info" onclick="read_ccd()">Stream CCD</button>
    </div>
      
  </div>
</div>

<script lang="ts">
  // This is an example script, please modify as needed
  const laserPowerInput = document.getElementById('laser_power');
  const laserPowerOutput = document.getElementById('laser_power_output');

  // Set initial value
  laserPowerOutput.textContent = laserPowerInput.value;

  laserPowerInput.addEventListener('input', function() {
    laserPowerOutput.textContent = this.value;
  });

  // This is an example script, please modify as needed
  const exposureInput = document.getElementById('exposure');
  const exposureOutput = document.getElementById('exposure_output');

  // Set initial value
  exposureOutput.textContent = exposureInput.value;

  exposureInput.addEventListener('input', function() {
    exposureOutput.textContent = this.value;
  });

  const accumulationInput = document.getElementById('accumulation');


  const socket = new WebSocket("ws://localhost:8000/api/device/ws");
  socket.addEventListener("open", (event) => {
    socket.send("Main Socket Connected");
  });
  // Listen for messages
  socket.addEventListener("message", (event) => {
    console.log("Message from server ", event.data);
  });
  
  const socket_ccd = new WebSocket("ws://localhost:8000/api/device/ws/ccd");
  socket_ccd.addEventListener("open", (event) => {
    socket_ccd.send("CCD Socket Connected");
  });
  // Listen for messages
  socket_ccd.addEventListener("message", (event) => {
    //console.log("Message from server ", event.data);
    console.log(JSON.parse(event.data));
    draw_chart(JSON.parse(event.data));
    //if(data.type === "spectrum"){
      // Dispatch event
    //  const spectrum_event = new CustomEvent("spectrum", { detail: data });
    //  window.dispatchEvent(spectrum_event);
    //}
  });
  



  function set_status(status){
    const is_connected = document.getElementById("is_connected")
    const device_name = document.getElementById("device_name")
    const com_port = document.getElementById("com_port")
    const device_id = document.getElementById("device_id")
    const read_ccd_btn = document.getElementById("btn-read-ccd")
    
    if(status.IsConnected){
      is_connected.classList.remove("text-bg-danger");
      is_connected.classList.add("text-bg-success");
      is_connected.innerHTML = "Connected";
      read_ccd_btn.disabled = false;
      
      // Connection opened
      socket.send("Connected to device");
    }else{
      is_connected.classList.remove("text-bg-success");
      is_connected.classList.add("text-bg-danger");
      is_connected.innerHTML = "Disconnected";
    }
    device_name.innerHTML = status.device.name;
    com_port.innerHTML = status.device.com_port;
    device_id.innerHTML = status.device.device_id;

    laserPowerInput.value = status.laser_power;
    laserPowerOutput.textContent = status.laser_power;

    exposureInput.value = status.exposure;
    exposureOutput.textContent = status.exposure;

    accumulationInput.value = status.accumulations;
    set_xaxis(status.x_axis);
  }

  function get_device(){

    console.log("GET DEVICE");
    const select = document.getElementById("device-select");
    // clear options
    select.innerHTML = "";


    const requestOptions = {
      method: "GET"
    };
    fetch("http://localhost:8000/api/device", requestOptions)
      .then((response) => response.text())
      .then((result) => {
        console.log(result);
        result = JSON.parse(result);
        select.parentElement.parentElement.disabled = false;
        result.forEach((device, index) => {
          var opt = document.createElement('option');
          opt.value = index;
          opt.innerHTML = `${device.name} - ${device.com_port} - ${device.device_id}`;
          select.appendChild(opt);
        })

      })
      .catch((error) => console.error(error));
  }


  function connect_device(){
    console.log("CONNECT DEVICE");
    const select = document.getElementById("device-select");
    const selected_index = select.selectedIndex;
    const requestOptions = {
      method: "GET"
    };
    fetch(`http://localhost:8000/api/device/connect/${selected_index}`, requestOptions)
      .then((response) => response.text())
      .then((result) => {
        console.log(result);
        result = JSON.parse(result);
        set_status(result);
      })
      .catch((error) => console.error(error));
  }

  function read_ccd(){
    console.log("READ CCD");
    const requestOptions = {
      method: "GET"
    };
    fetch(`http://localhost:8000/api/device/measure_conf/${laserPowerInput.value}/${exposureInput.value}/${accumulationInput.value}`, requestOptions)
      .then((response) => response.text())
      .then((result) => {
        console.log(result);
        result = JSON.parse(result);
        set_status(result);
        if(result.IsConnected){
          socket_ccd.send("read_ccd");
        }
      })
      .catch((error) => console.error(error));
  }
</script>